body {
  font-family: a-otf-ud-shin-go-pr6n, sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

.inner-1180 {
  width: 1180px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inner-1280 {
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


