
.swiper-container {
  width: 100%;
}

.swiper-img {
  display: block;
  width: 100%;
}

.pc-mv {
  @include mq('sp') {
    display: none !important;
  }
}

.sp-mv {
    display: none;
    @include mq('sp') {
      display: block;
    }
}


.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;

  &:after {
    font-size: 15px !important;
  }
}

