.detail {
  padding: 30px;
  text-align: center;

  &-info {
    
    &__item {
      font-size: 16px;
      color: #707070;
      border-top: 1px solid #707070;
      padding: 10px 0;
      line-height: 1.4;
<<<<<<< HEAD

      @include mq('sp') {
        font-size: 12px;
      }
=======
>>>>>>> dc883dda05e015d6dfff77eb3cbc299c5f1ba6d5
    }
  }

  &-delivery {
    justify-content: center;
  }

  &-info {
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &-info-ly {
    margin-top: 20px;
  }
}

.map {
  width: 100%;
}