.detail {
  padding: 30px;
  text-align: center;

  &-info {
    
    &__item {
      font-size: 12px;
      color: #707070;
      border-top: 1px solid #707070;
      padding: 10px 0;
      line-height: 1.4;
    }
  }

  &-delivery {
    justify-content: center;
  }

  &-info-ly {
    margin-top: 20px;
  }
}

